.top-films__film-number {
  position: absolute;
  display: flex;
  width: 62px;
  height: 48px;
  top: -12px;
  left: -12px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: #fff;
  color: #6a5dc2;
}