html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"),
    url("../fonts/montserrat-regular.woff2") format("woff2"),
    url("../fonts/montserrat-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Semibold"),
    url("../fonts/montserrat-semibold.woff2") format("woff2"),
    url("../fonts/montserrat-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"),
    url("../fonts/montserrat-bold.woff2") format("woff2"),
    url("../fonts/montserrat-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Extrabold"),
    url("../fonts/montserrat-extrabold.woff2") format("woff2"),
    url("../fonts/montserrat-extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 320px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

:root {
  --gap: 32px;
}

/* global */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1920px;
  padding: 0px 75px;
  margin: 0 auto;
}

.section__title {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
}

.section__descr {
  margin: 0;
}

.nav__item {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  outline-offset: 5px;
  transition: color 0.2s;
}

.nav__item:focus {
  outline: 2px solid #f90;
}

.nav__item:hover {
  outline: none;
}

.nav__item:active {
  outline: none;
}

/* header */
.header {
  margin-bottom: 50px;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 32px 32px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.header__container {
  justify-content: space-between;
  align-items: center;
}

.header__left {
  height: 72px;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  height: 100%;
}

.nav__list--header {
  margin-right: 85px;
  align-items: center;
  gap: 85px;
}

.nav__item--header {
  line-height: 22px;
  align-items: center;
  border: none;
}

.nav__item--header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 100%;
  height: 2px;
  background-color: #f90;
  opacity: 0;
  transition: opacity 0.2s;
}

.nav__item--header:focus::after {
  opacity: 0;
}

.nav__item--header:hover::after {
  opacity: 1;
}

.nav__item--header:active {
  color: #e1670e;
}

.nav__item--header:active::after {
  background-color: #e1670e;
  opacity: 1;
}

.nav__search--header {
  display: block;
}

/* header__search */
.header__search path {
  stroke: #000;
  transition: stroke 0.2s;
}

.header__search rect {
  fill: #000;
  transition: fill 0.2s;
}

.nav__item--search:focus {
  outline: 2px solid #f90;
  outline-offset: 2px;
}

.header__search:hover path {
  stroke: #f90;
}

.header__search:hover rect {
  fill: #f90;
}

.nav__item--search:active {
  outline: none;
}

.header__search:active path {
  stroke: #000;
}

.header__search:active rect {
  fill: #000;
}

/* hero */
.hero {
  margin-bottom: 50px;
}

.hero-box {
  padding: 100px 800px 100px 80px;
  flex-direction: column;
  border-radius: 32px;
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main__title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 70px;
  font-weight: 800;
  line-height: 85px;
  color: #fff;
}

.section__descr--hero {
  margin-bottom: 90px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #fff;
}

.btn--hero {
  padding: 25px 39px;
  align-self: start;
  background-color: #f90;
  border-radius: 16px;
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
  color: #fff;
  transition: background-color 0.2s;
}

.btn--hero:focus {
  background-color: #ffb84d;
}

.btn--hero:hover {
  background-color: #ffb84d;
}

.btn--hero:active {
  background-color: #e1670e;
}

/* about */
.about {
  margin-bottom: 100px;
}

.section__title--about {
  margin-bottom: 20px;
}

.section__descr--about {
  max-width: 1235px;
  margin-bottom: 50px;
}

.about__bottom {
  gap: var(--gap);
  --offsets: 1;
}

.about__left {
  width: calc((100% - (var(--offsets) * var(--gap))) / (var(--offsets) + 1));
  align-items: end;
  border-radius: 32px;
  background-image: url("../img/about-left-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about__left-text {
  bottom: 0;
  width: 100%;
  padding: 50px;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
  border-radius: 32px;
  background-color: rgba(0, 0, 0, 0.5);
}

.about__left-descr {
  max-width: 433px;
  margin: 0;
  font-weight: 700;
  color: #fff;
}

.about__btn {
  max-width: 175px;
  height: 60px;
  padding: 20px 38px;
  border: 3px solid #f90;
  border-radius: 16px;
  font-weight: 700;
  color: #fff;
  transition: background-color 0.2s, border-color 0.2s;
}

.about__btn:focus {
  background-color: #f90;
}

.about__btn:hover {
  background-color: #f90;
}

.about__btn:active {
  background-color: #e1670e;
  border-color: #e1670e;
}

.about__right {
  width: calc((100% - (var(--offsets) * var(--gap))) / (var(--offsets) + 1));
  flex-grow: 0;
}

.about__right-list {
  gap: var(--gap);
  flex-direction: column;
}

.about__right-item {
  width: 100%;
  min-height: 295px;
  padding: 65px 110px 65px 60px;
  gap: 50px;
  align-items: center;
  border: 1px solid #cacaca;
  border-radius: 32px;
}

.about__right-item svg {
  max-width: 190px;
}

.about__right-img--320px {
  display: none;
}

.about__right-text {
  flex-direction: column;
}

.about__right-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.about__right-descr {
  max-width: 450px;
  margin: 0;
}

/* stages */
.stages {
  margin-bottom: 100px;
}

.section__title--stages {
  margin-bottom: 29px;
}

.stages__content {
  gap: 34px;
}

.stages__item {
  flex-basis: 49%;
  min-height: 460px;
}

.stages__left-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
}

.stages__left-descr {
  max-width: 733px;
  margin-bottom: 18px;
}

.stages__left-bottom {
  gap: 32px;
  align-items: center;
}

.stages__left-btn {
  min-height: 60px;
  padding: 20px 38px;
  border-radius: 16px;
}

.stages__left-btn--pnt {
  background-color: #f90;
  color: #fff;
  font-weight: 700;
  transition: background-color 0.2s;
}

.stages__left-btn--pnt:focus {
  background-color: #ffb84d;
}

.stages__left-btn--pnt:hover {
  background-color: #ffb84d;
}

.stages__left-btn--pnt:active {
  background-color: #e1670e;
}

.stages__left-btn--trs {
  border: 1px solid #000;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.stages__left-btn--trs:focus {
  color: #fff;
  background-color: #666;
  border-color: #666;
}

.stages__left-btn--trs:hover {
  color: #fff;
  background-color: #666;
  border-color: #666;
}

.stages__left-btn--trs:active {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.stages__right {
  border-radius: 32px;
  background-image: url("../img/stages-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* questions */
.questions {
  margin-bottom: 100px;
}

.section__title--questions {
  margin-bottom: 32px;
}

.questions__list {
  gap: var(--gap);
  --offsets: 2;
  align-items: center;
  flex-wrap: nowrap;
}

.questions__item {
  width: calc((100% - (var(--gap) * var(--offsets)) / (var(--offsets) + 1)));
  padding: 65px 60px;
  border: 1px solid #cacaca;
  border-radius: 32px;
  flex-direction: column;
}

.questions__item-title {
  max-width: 412px;
  margin: 0;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.questions__item-descr {
  margin: 0;
}

/* footer */
.footer {
  padding-top: 48px;
  padding-bottom: 36px;
  background-color: #000;
}

.footer__container {
  justify-content: space-between;
}

.footer__left {
  margin-right: 116px;
  flex-direction: column;
}

.footer__logo {
  margin-bottom: 16px;
}

.footer__nav {
  margin-bottom: 97px;
}

.nav__list--footer {
  gap: 14px;
  flex-direction: column;
}

.nav__item--footer {
  color: #cacaca;
}

.nav__item--footer:focus {
  color: #cacaca;
}

.nav__item--footer:hover {
  color: #f90;
}

.nav__item--footer:active {
  color: #e1670e;
}

.footer__center {
  width: 574px;
}

.footer__social {
  gap: 25px;
}

.footer__item {
  max-width: 60px;
  min-height: 60px;
}

.footer__link {
  width: 100%;
  height: 100%;
  outline: none;
  outline-offset: 5px;
  transition: outline 0.2s;
}

.footer__link-img path {
  fill: #666;
  transition: fill 0.2s;
}

.footer__link:focus {
  outline: 2px solid #f90;
}

.footer__link-img:focus path {
  fill: #666;
}

.footer__link:hover {
  outline: none;
}

.footer__link-img:hover path {
  fill: #f90;
}

.footer__link:active {
  outline: none;
}

.footer__link-img:active path {
  fill: #e1670e;
}

.footer__center-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
  color: #fff;
}

.form__list {
  gap: 25px;
  margin-bottom: 21px;
  flex-direction: column;
}

.form__input {
  width: 100%;
  padding: 14px 24px;
  background-color: #414141;
  border: none;
  border-radius: 16px;
  line-height: 32px;
  color: #fff;
}

.form__input::-webkit-input-placeholder {
  color: #cacaca;
}

.form__textarea {
  width: 100%;
  height: 150px;
  padding: 14px 24px;
  background-color: #414141;
  border: none;
  border-radius: 16px;
  line-height: 32px;
  color: #fff;
  resize: none;
}

.form__textarea::-webkit-input-placeholder {
  color: #cacaca;
}

.form__input:focus,
.form__textarea:focus {
  outline: none;
  background-color: #666;
}

.form__input:hover,
.form__textarea:hover {
  background-color: #666;
}

.form__input:active,
.form__textarea:active {
  outline: none;
  background-color: #666;
}

.form__confirm {
  align-items: center;
}

.form__confirm-btn {
  width: 269px;
  height: 58px;
  padding: 19px 52px;
  margin-right: 19px;
  border-radius: 16px;
  background-color: #f90;
  font-weight: 700;
  color: #fff;
  transition: background-color 0.2s;
}

.form__confirm-btn:focus {
  background-color: #ffb84d;
}

.form__confirm-btn:hover {
  background-color: #ffb84d;
}

.form__confirm-btn:active {
  background-color: #e1670e;
}

.form__confirm-label {
  color: #cacaca;
}

.footer__descr {
  margin: 0;
  color: #fff;
}

.footer__right {
  margin-top: 88px;
  max-width: 363px;
  color: #cacaca;
}

/* custom checkbox */
.form__confirm-label {
  user-select: none;
  cursor: pointer;
}

.form-check__input {
  appearance: none;
}

.form-check__descr {
  position: relative;
  padding-left: 18px;
}

.form-check__descr::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 14px;
  height: 14px;
  border: 1px solid #cacaca;
  transform: translateY(-58%);
}

.form-check__descr::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 14px;
  height: 14px;
  background-image: url("../img/checkbox-in.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  transform: translateY(-58%);
  opacity: 0;
  transition: opacity 0.2s;
}

.form-check__input:checked + .form-check__descr::after {
  opacity: 1;
}
